*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
   justify-content: space-between;
   
}
.logo{
    margin: 2rem 4rem;
}

.signup button{
    background-color: red;
    color: white;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border: 0;
    border-radius: 8px;
    margin: 2rem 4rem;
}
.header {
    
    background-image: url(images/nexflix_bg.jpeg);
    height: 100vh;
    position: relative;
    background-size: cover;
    color: black;
   border-bottom: 5px solid grey;
}

.overlay{
    position: absolute;
    background:rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
}

.header__content{
    text-align: center;
    margin-top: 6rem;
}

.header__h1 h1{
    color: #ffff;
    font-size: 3.125rem;
    word-spacing: 0.025rem;
}

.header__h3 h3{
    color: #ffff;
    font-size: 1.625rem;
    padding-top: 1rem;
    /* line-height: 2.5rem; */
}
form{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 1.5rem auto;

}
form input{
    padding: 1rem 10rem 1rem 1rem;
    outline: none;
    border: none;
}
form button {
    background: red;
    color: #ffff;
    padding: 0.93rem 1rem;
    margin: -1rem;
    text-transform: capitalize;
    font-size: 1rem;
}
.first__section{
    background-color: black;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
   
}
.first__sectionContent {
    color: #ffff;
   margin-top: 10rem;
    font-size: ;
 
}
/* .first__sectionWrapper{
    margin-top: 2rem;
} */
.first__sectionContent h2{
    font-size: 3.125rem;
}
.first__sectionContent p{
    font-size: 1.625rem;
    padding-top: 1rem;
}